*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    
}
/* styling the body of all pages (defining the background color on all pages ) */
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00aa, #00aaaa);
}

/* styling the index page */
.content-box {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(2, 400px);
    place-content: center stretch;
}

.header {
    padding-left: 60px;
    grid-column: 1 / 3;
    grid-row: 1;
    font-size: 40px;
    color:cadetblue;
}

.btn-a {
    font-size: 30px;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    align-self: center;
}

.btn-b {
    font-size: 30px;
    align-self: center;
    grid-column: 2 / 4;
    grid-row: 2 / 3
}

.btn.btn-outline-primary.btn-lg.a  {
    color:cadetblue;
}

.btn.btn-outline-primary.btn-lg.b {
    color:cadetblue;
}

/* styling the signup page and login */
.btn.btn-outline-primary {
    color:cadetblue;
}
label {
    color:cadetblue;
}

input {
    background: linear-gradient(to right, #00aa, #00aaaa);
    
}

/* styling the navbar on the home/dashboard page */
.navbar.navbar-expand-lg.navbar-light.bg-dark {
    background: linear-gradient(to right, rgb(87, 75, 255), #00aaaa);
}

/* styling the color of search bar  */ 
.form-inline.my-2.my-lg-0 > input {
    background-color: linear-gradient(to right, #00aa, #00aaaa);;
}

/* styling search button on home page */
.btn.btn-outline-success.my-2.my-sm-0 {
    background: linear-gradient(to right, rgb(87, 75, 255), #00aaaa);
    font-style: italic;

}

/* styling profile dropdown menu */
.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.041);
}

.item-a > p {
    margin-top: 150px;
    font-size: 30px;
}

/* styling the contents of the home page */
.item-b > p {
    margin-top: 40px;
    font-size: 30px;
}

.item-c {
    grid-column: 4;
    grid-row: 1 / 3;
}

.item-c > p {
    font-size: 40px;
}

.item-c > a {
    color: black;
    font-size: 20px;
}

.item-d {
    margin-top: 20px;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.item-d > p {
    font-size: 30px;
}

.container-fluid.text {
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
    grid-template-rows: 400px 400px;
    place-content: center stretch;
}